{% extends "base.html" %}

{% block content %}

<section class="p-5">
    <div class="container">
        <div class="row text-center">
        {% for tools in tooling %}
            {% if loop.changed(tools.category_url) %}
                <div class="col-md mb-3">
                    <div class="card h-100" style="width: 18rem;">   
                        <div class="card-body">
                            <h5 class="card-title">{{ tools.category }}</p>
                            <a href="{{ url_for('category_url', cat_url=tools.category_url) }}"><img src="{{ url_for('static', filename=tools.category_image) }}"></a>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        </div>
    </div>
</section>



{% endblock %}