{% extends "base.html" %}

{% block content %}




<section class="p-5"> 
    {% for tools in tooling %}
        <div class="card" style="width: 40rem;">
            <div class="text-center">
                <img src="{{ url_for('static', filename=tools.item_image) }}" class="card-img-top" style="width: 196px">
            </div>
            <div class="card-body">
                <div class="text-center">
                    <h3 class="card-title">{{ tools.item }}</h3>
                </div>
                    <p class="card-text">
                        <table class="table table-striped table-hover">
                            <tbody>
                                <tr class="table-success">
                                    <td>Description:</td>
                                    <td>{{ tools.descript }}</td>
                                </tr>

                                <tr class="table-danger">
                                    <td>Bin Number:</td>
                                    <td>{{ tools.location }}</td>
                                </tr>
                                <tr class="table-success">
                                    <td>In Stock:</td>
                                    <td>{{ tools.quantity }}</td>
                                </tr>
                                <tr class="table-danger">
                                    <td>Manufacturer:</td>
                                    <td>{{ tools.manufacturer }}</td>
                                </tr>
                                <tr class="table-success">
                                    <td>EDP Number:</td>
                                    <td>{{ tools.edp }}</td>
                                </tr>
                                <tr class="table-danger">
                                    <td>Supplier:</td>
                                    <td>{{ tools.vendor }}</td>
                                </tr>
                                <tr class="table-success">
                                    <td>Purchase Date:</td>
                                    <td>{{ tools.purchased.strftime('%m/%d/%Y') }}</td>
                                </tr>
                           
                            </tbody>
                        </table>
                    </p>
                <div class="text-center">
                    {% if tools.quantity > 0 %}
                        <form action="{{ url_for('remove_item', product_code=tools.edp) }}" method="POST">
                            <input type="submit" value="REMOVE ONE FROM INVENTORY">
                        </form>
                    {% else %}
                        <h3 style="color:red;">OUT OF STOCK</h3>
                    {% endif %}
                    <a href="{{ url_for('admin', product_code=tools.edp) }}" class="nav-link">Admin</a>
                </div>
            </div>
        </div>
    {% endfor %}

</section>

{% endblock %}