{% extends "base.html" %}

{% block content %}

<section class="p-5">
    <div class="container">
        <div class="row text-center">
        {% for tools in tooling %}
                <div class="col-md mb-3">
                    <div class="card h-100" style="width: 18rem;">   
                        <div class="card-body">
                            <h5 class="card-title">{{ tools.item }}</p>
                            <a href="{{ url_for('items_url', ind_item=tools.edp) }}"><img src="{{ url_for('static', filename=tools.item_image) }}"></a>
                        </div>
                    </div>
                </div>
        {% endfor %}
        </div>
    </div>
</section>


{% endblock %}